body{
    background: url(./Middle\ finger\ pro.jpg) no-repeat center center/cover ;
    width: 60%;
    height: 150%;
}
.i-am-ur-dad{
    margin-left: 60%;
}
.HI{
    margin-left: 60%;
    margin-top: 150px;
}